<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Software & Unit Configuration</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <script src="{{ url_for('static', filename='idle.js') }}"></script>
    <style>
    .big-container {
        border: 1px solid #ccc;
        margin: 10px;
    }
    select option {
        margin: 10px;
    }
    select {
        margin: 5px;
    }
    .bottom-left {
      position: fixed;
      bottom: 10px;
      left: 10px;
    }
    </style>
</head>
<body>

    <div class="container">
        <h1>Software & Unit Configuration</h1>

        <div class="row">
            <div class="col big-container">
                <label for="dropdown1">Parameter 1:</label>
                <select id="dropdown1" name="dropdown1">
                  <option value="option1">Option 1</option>
                  <option value="option2">Option 2</option>
                  <option value="option3">Option 3</option>
                  <option value="option3">Option 4</option>
                  <option value="option3">Option 5</option>
                </select>
                <br>
              
                <label for="dropdown2">Parameter 2:</label>
                <select id="dropdown2" name="dropdown2">
                  <option value="option1">Option 1</option>
                  <option value="option2">Option 2</option>
                  <option value="option3">Option 3</option>
                  <option value="option3">Option 4</option>
                  <option value="option3">Option 5</option>
                </select>
                <br>
              
                <label for="dropdown3">Parameter 3:</label>
                <select id="dropdown3" name="dropdown3">
                  <option value="option1">Option 1</option>
                  <option value="option2">Option 2</option>
                  <option value="option3">Option 3</option>
                  <option value="option3">Option 4</option>
                  <option value="option3">Option 5</option>
                </select>
                <br>
              
                <label for="dropdown4">Parameter 4:</label>
                <select id="dropdown4" name="dropdown4">
                  <option value="option1">Option 1</option>
                  <option value="option2">Option 2</option>
                  <option value="option3">Option 3</option>
                  <option value="option3">Option 4</option>
                  <option value="option3">Option 5</option>
                </select>
                <br>
              
                <label for="dropdown5">Parameter 5:</label>
                <select id="dropdown5" name="dropdown5">
                  <option value="option1">Option 1</option>
                  <option value="option2">Option 2</option>
                  <option value="option3">Option 3</option>
                  <option value="option3">Option 4</option>
                  <option value="option3">Option 5</option>
                </select>
                <br>
              
                <label for="dropdown5">Parameter 6:</label>
                <select id="dropdown5" name="dropdown5">
                  <option value="option1">Option 1</option>
                  <option value="option2">Option 2</option>
                  <option value="option3">Option 3</option>
                  <option value="option3">Option 4</option>
                  <option value="option3">Option 5</option>
                </select>
                <br>
            </div>
            <div class="col big-container">
                <label for="dropdown1">Parameter 1:</label>
                <select id="dropdown1" name="dropdown1">
                  <option value="option1">Option 1</option>
                  <option value="option2">Option 2</option>
                  <option value="option3">Option 3</option>
                  <option value="option3">Option 4</option>
                  <option value="option3">Option 5</option>
                </select>
                <br>
              
                <label for="dropdown2">Parameter 2:</label>
                <select id="dropdown2" name="dropdown2">
                  <option value="option1">Option 1</option>
                  <option value="option2">Option 2</option>
                  <option value="option3">Option 3</option>
                  <option value="option3">Option 4</option>
                  <option value="option3">Option 5</option>
                </select>
                <br>
              
                <label for="dropdown3">Parameter 3:</label>
                <select id="dropdown3" name="dropdown3">
                  <option value="option1">Option 1</option>
                  <option value="option2">Option 2</option>
                  <option value="option3">Option 3</option>
                  <option value="option3">Option 4</option>
                  <option value="option3">Option 5</option>
                </select>
                <br>
              
                <label for="dropdown4">Parameter 4:</label>
                <select id="dropdown4" name="dropdown4">
                  <option value="option1">Option 1</option>
                  <option value="option2">Option 2</option>
                  <option value="option3">Option 3</option>
                  <option value="option3">Option 4</option>
                  <option value="option3">Option 5</option>
                </select>
                <br>
              
                <label for="dropdown5">Parameter 5:</label>
                <select id="dropdown5" name="dropdown5">
                  <option value="option1">Option 1</option>
                  <option value="option2">Option 2</option>
                  <option value="option3">Option 3</option>
                  <option value="option3">Option 4</option>
                  <option value="option3">Option 5</option>
                </select>
                <br>
              
                <label for="dropdown5">Parameter 6:</label>
                <select id="dropdown5" name="dropdown5">
                  <option value="option1">Option 1</option>
                  <option value="option2">Option 2</option>
                  <option value="option3">Option 3</option>
                  <option value="option3">Option 4</option>
                  <option value="option3">Option 5</option>
                </select>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col big-container">
                <label for="dropdown1">Parameter 1:</label>
                <select id="dropdown1" name="dropdown1">
                  <option value="option1">Option 1</option>
                  <option value="option2">Option 2</option>
                  <option value="option3">Option 3</option>
                  <option value="option3">Option 4</option>
                  <option value="option3">Option 5</option>
                </select>
                <br>
              
                <label for="dropdown2">Parameter 2:</label>
                <select id="dropdown2" name="dropdown2">
                  <option value="option1">Option 1</option>
                  <option value="option2">Option 2</option>
                  <option value="option3">Option 3</option>
                  <option value="option3">Option 4</option>
                  <option value="option3">Option 5</option>
                </select>
                <br>
              
                <label for="dropdown3">Parameter 3:</label>
                <select id="dropdown3" name="dropdown3">
                  <option value="option1">Option 1</option>
                  <option value="option2">Option 2</option>
                  <option value="option3">Option 3</option>
                  <option value="option3">Option 4</option>
                  <option value="option3">Option 5</option>
                </select>
                <br>
              
                <label for="dropdown4">Parameter 4:</label>
                <select id="dropdown4" name="dropdown4">
                  <option value="option1">Option 1</option>
                  <option value="option2">Option 2</option>
                  <option value="option3">Option 3</option>
                  <option value="option3">Option 4</option>
                  <option value="option3">Option 5</option>
                </select>
                <br>
              
                <label for="dropdown5">Parameter 5:</label>
                <select id="dropdown5" name="dropdown5">
                  <option value="option1">Option 1</option>
                  <option value="option2">Option 2</option>
                  <option value="option3">Option 3</option>
                  <option value="option3">Option 4</option>
                  <option value="option3">Option 5</option>
                </select>
                <br>
              
                <label for="dropdown5">Parameter 6:</label>
                <select id="dropdown5" name="dropdown5">
                  <option value="option1">Option 1</option>
                  <option value="option2">Option 2</option>
                  <option value="option3">Option 3</option>
                  <option value="option3">Option 4</option>
                  <option value="option3">Option 5</option>
                </select>
                <br>
            </div>
            <div class="col big-container">
                <label for="dropdown1">Parameter 1:</label>
                <select id="dropdown1" name="dropdown1">
                  <option value="option1">Option 1</option>
                  <option value="option2">Option 2</option>
                  <option value="option3">Option 3</option>
                  <option value="option3">Option 4</option>
                  <option value="option3">Option 5</option>
                </select>
                <br>
              
                <label for="dropdown2">Parameter 2:</label>
                <select id="dropdown2" name="dropdown2">
                  <option value="option1">Option 1</option>
                  <option value="option2">Option 2</option>
                  <option value="option3">Option 3</option>
                  <option value="option3">Option 4</option>
                  <option value="option3">Option 5</option>
                </select>
                <br>
              
                <label for="dropdown3">Parameter 3:</label>
                <select id="dropdown3" name="dropdown3">
                  <option value="option1">Option 1</option>
                  <option value="option2">Option 2</option>
                  <option value="option3">Option 3</option>
                  <option value="option3">Option 4</option>
                  <option value="option3">Option 5</option>
                </select>
                <br>
              
                <label for="dropdown4">Parameter 4:</label>
                <select id="dropdown4" name="dropdown4">
                  <option value="option1">Option 1</option>
                  <option value="option2">Option 2</option>
                  <option value="option3">Option 3</option>
                  <option value="option3">Option 4</option>
                  <option value="option3">Option 5</option>
                </select>
                <br>
              
                <label for="dropdown5">Parameter 5:</label>
                <select id="dropdown5" name="dropdown5">
                  <option value="option1">Option 1</option>
                  <option value="option2">Option 2</option>
                  <option value="option3">Option 3</option>
                  <option value="option3">Option 4</option>
                  <option value="option3">Option 5</option>
                </select>
                <br>
              
                <label for="dropdown5">Parameter 6:</label>
                <select id="dropdown5" name="dropdown5">
                  <option value="option1">Option 1</option>
                  <option value="option2">Option 2</option>
                  <option value="option3">Option 3</option>
                  <option value="option3">Option 4</option>
                  <option value="option3">Option 5</option>
                </select>
                <br>
            </div>
      </div>
    </div>

    <a href="/">
      <button type="button" class="btn btn-info btn-lg bottom-left">Back</button>
    </a>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>